.login-main-card{
    background:#fff;
    height: 100vh;
    width: 100vw;
margin:0;
background-image: url("../../assets/background.jpg");   
}
.login-card{
    min-height:320px;
    max-width:300px;
    padding: 20px;
    background:white;
    text-align: center;
    color:orange;
}
.login-button{
    background-color: white;
    text-align: center;
    color: orange;
    border-color: orange;
}
.login-button:hover{
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
    color: white;
    background-color: orange;
}