body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
  
}
a, button{
    cursor: pointer;
}
a:hover, button:hover{
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
}